@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
footer{
    height: 90px;
    background: #D842BD 0% 0% no-repeat padding-box;
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Rubik';
    font-weight: normal;
    font-size: 1em;
}