@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

footer{
    height: 10%;
    background: #D842BD 0% 0% no-repeat padding-box;
    display: flex;   
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Rubik';
}