@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  font-family: "Rubik", sans-serif;
  background-image: url(./assets/login-bg.jpg);
}

.logo {
  color: white;
  text-align: left;

  font-size: 1.2em;
}
.logo span {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100px;
  border-radius: 50px;
  color: white;
  background-color: #d842bd;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.home:hover {
  transform: scale(1.1);
}

.menu img {
  width: 10px;
  height: 10px;
  padding: 6%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  align-content: center;
  background-color: white;
  width: 60%;
  height: 60vh;
  border-radius: 3%;
}

h3 {
  margin-bottom: 5%;
  font-size: 1.5em;
  color: blue;
  font-weight: bold;
}

.acessar {
  margin-top: 5%;
  padding: 3%;
  width: 35%;
  border-radius: 100px;
  color: white;
  background-color: #3633f7;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
}
.acessar:hover {
  transform: scale(1.1);
}
input[type="email" i] {
  border-radius: 8%;
  margin-bottom: 20px;
  border: none;
  width: 80%;
  outline: none;
}

input[type="password" i] {
  border-radius: 8%;
  border: none;
  width: 80%;
  outline: none;
}

.section-content {
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .section-content {
    width: 100%;
    margin-left: 0;
    margin-top: 20%;
  }

  .acessar {
    padding: 5px;
  }

  .login {
    width: 80%;
  }
}
