@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 10000px;
}
/* header normal */
.menuSup {
    position: absolute;
    font-family: 'Rubik';
    width: 100%;
    height: 7%;
    margin: 0 auto;
    z-index: 2;
}
.menuSup .linktitulo {
    margin-top: 10px;
    width: 10%;
}

.menuSup .linktitulo a {
    font-family: 'Rubik';
    font-size: 1.2em;
    padding-left: 30px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-top: -25px;
    padding-right: 25px;
}
/* fim do header normal */

/* header desfocado */
.menuSupDesf{ 
    position: fixed;
    font-family: 'Rubik';
    width: auto;
    height: 8%;
    left: 0;
    top: 0;
    right: 0;
    background:rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    z-index: 1;
}
.menuSupDesf .linktitulo {
    margin-top: 20px;
    width: 10%;
}
.menuSupDesf .linktitulo a {
    font-family: 'Rubik';
    font-size: 1.2em;
    padding-left: 30px;
    text-decoration: none;
    color: #D842BD;
}
.menuSupDesf .menu{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-top: -25px;
    padding-right: 25px;
} 
/* fim do header desfocado */
.clear{
    clear: both;
}
.botaomenu b {
    margin-left: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Rubik';
    font-size: 0.8em;
}
#botaosobre{
    background: #D842BD 0% 0% no-repeat padding-box;
    background-image: url('../assets/icon-info-circle.svg');
    background-size: 1em;
    background-position: 25px;
    color: #ffffff;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 3px 6px #5538EE29;
    outline: none;
    cursor: pointer;
}
#botaologin{
    background: #3633F7 0% 0% no-repeat padding-box;
    background-image: url('../assets/icon-user-alt.svg');
    background-size: 1em;
    background-position: 25px;
    color: #ffffff;
    margin-left: 15px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 3px 6px #5538EE29;
    outline: none;
    cursor: pointer;
}
.bg{
    background-image: url('../assets/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 478px;
    margin: auto;
    position: relative;
    z-index: 1;
}
#titulo{
    padding-top: 122px;
    padding-left: 100px;
    width: 680px;
    height: 80px;
    position: absolute;
}
#descricao{
    padding-top: 250px;
    padding-left: 100px;
    width: 450px;
    height: 80px;
    position: absolute;
}

.erro {
    background-color:whitesmoke;
    justify-content: center;
    margin: 30 auto;
    text-align:center;
    position: relative;
    width: 50%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
}
#oerro{
    color: #3634F7;
    font-family: 'Rubik';
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 2%;
}
#textoerro{
    color: #292929;
    font-family: 'Rubik';
    padding-right: 5%;
    padding-left: 5%;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
#botaoerro{
    background: #D842BD 0% 0% no-repeat padding-box;
    background-image: url('../assets/icon-home.svg');
    background-size: 1em;
    background-position: 10px;
    padding-left: 10px;
    color: #ffffff;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 3px 6px #5538EE29;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
}
#ttit{
    color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 3em;
    font-weight: bold;
    position: relative;
}
#tdesc{
    color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 1em;
    font-weight: normal;
    position: relative;
}
#bgimg{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: top, center;
    background-size: cover;
}
#pesq{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    position: relative;
}
.barPesquisa{
    background:#FFFFFF;
    border: none;
    border-radius:72px;
    width: 50%;
    position: relative;
    height: 73px;
    border-style: none;
    margin-top: 20px;
    box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    z-index: 1;
}
#hashtag{
    background:#FFFFFF;
    font-size: 2em;
    opacity: 30%;
    width: 75%;
    position: relative;
    border-style: none;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    margin-top: 20px ;
    outline: none;
    z-index: 1;
}
#botao3{
    background: url('../assets/icon-search.svg') no-repeat;
    border: none;
    width: 10%;
    position: relative;
    margin-top: 25px ;  
    height: 30px;
    margin-left: 55px;
    float: left;
    outline: none;
    cursor: pointer;
    z-index: 1;
}
.footer{
    height: 90px;
    background: #D842BD 0% 0% no-repeat padding-box;
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Rubik';
    font-weight: normal;
    font-size: 1em;
}
@media screen and (max-width: 450px){ 
    .bg { 
        background-image: url('../assets/hero-bg-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 478px;
        margin: auto;
        position: relative;
    }
    #titulo{
        padding-top: 0px;
        padding-left: 5px;
        width: 100%;
        height: 80px;
        position: absolute;
    }
    #descricao{
        padding-top: 195px;
        padding-left: 5px;
        width: 80%;
        height: 80px;
        position: absolute;
    }
    #ttit{
        color: #FFFFFF;
        font-family: 'Rubik';
        padding-top: 120px;
        padding-left: 25px;
        font-size: 1.77em;
        font-weight: bold;
    }
    #tdesc{
        color: #FFFFFF;
        font-family: 'Rubik';
        padding-top: 10px;
        padding-left: 25px;
        font-size: 0.7em;
        font-weight: normal;
    }
    #linktitulo{
        margin-top: 20px;
        width: 10%;
        padding-left: 15px;
        font-size: 0.8em;
    }
    #botaosobre{
        background: #D842BD 0% 0% no-repeat padding-box;
        background-image: url('../assets/icon-info-circle.svg');
        background-size: 0.6em;
        background-position: 15px;
        color: #ffffff;
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 3px 6px #5538EE29;
        outline: none;
        cursor: pointer;
    }
    #botaologin{
        background: #3633F7 0% 0% no-repeat padding-box;
        background-image: url('../assets/icon-user-alt.svg');
        background-size: 0.6em;
        background-position: 15px;
        color: #ffffff;
        margin-left: 5px;
        margin-right: -10px;
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 3px 6px #5538EE29;
        outline: none;
        cursor: pointer;
    }
    .botaomenu b{
        margin-left: 10px;
        letter-spacing: 2px;
        font-family: 'Rubik';
        font-size: 0.6em;
    }
    /* header desfocado */
    #menuSupDesf{ 
        position: fixed;
        font-family: 'Rubik';
        width: auto;
        height: 7%;
        left: 0;
        top: 0;
        right: 0;
        background:rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(20px);
        z-index: 1;
    }
    #linktituloDesf{
        margin-top: 20px;
        width: 10%;
        padding-left: 15px;
        font-size: 0.8em;
    }
    #logoDesf{
        font-family: 'Rubik';
        font-size: 1.2em;
        text-decoration: none;
        color: #D842BD;
    }
    #menuDesf{
        display: flex;
        justify-content: space-between;
        float: right;
        margin-top: -25px;
        padding-right: 25px;
    } 
    /* fim do header desfocado */
    #pesq{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -180px;
        position: absolute;
    }
    .barPesquisa{
        background:#FFFFFF;
        border: none;
        border-radius:72px;
        width: 85%;
        position: relative;
        height: 40px;
        border-style: none;
        margin-top: 20px;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    #hashtag{
        background:#FFFFFF;
        font-size: 1em;
        opacity: 30%;
        width: 75%;
        position: relative;
        border-style: none;
        font-family: 'Rubik', sans-serif;
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
        outline: none;
    }
    #botao3{
        image-resolution: url('../assets/icon-search.svg') no-repeat;
        border: none;
        background-size: 1.4em;
        position: relative;
        margin-top: 10px ;  
        margin-left: 25px;
        float: left;
        outline: none;
        cursor: pointer;
    }
    .erro {
        background-color:whitesmoke;
        justify-content: center;
        margin: 30 auto;
        text-align: center;
        position: relative;
        width: 90%;
        height: 220px;
        border-radius: 20px;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    #oerro{
        color: #3634F7;
        font-family: 'Rubik';
        font-size: 1.77em;
        font-weight: normal;
        text-align: center;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    #textoerro{
        color: #292929;
        font-family: 'Rubik';
        padding-right: 5%;
        padding-left: 5%;
        font-size: 0.7em;
        font-weight: normal;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 3%;
    }
    #botaoerro{
        background: #D842BD 0% 0% no-repeat padding-box;
        background-image: url('../assets/icon-home.svg');
        background-size: 1em;
        background-position: 10px;
        color: #ffffff;
        padding-left: 10px;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 3px 6px #5538EE29;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    footer{
        height: 50px;
        background: #D842BD 0% 0% no-repeat padding-box;
        display: flex;   
        align-items: center;
        bottom: 0px;
        width: 100%;
        justify-content: center;
        color: #ffffff;
        font-family: 'Rubik';
        font-weight: normal;
        font-size: 0.6em;
    }
}
@media screen and (min-width:700px){ 
    
    .bg{
        background-image: url('../assets/hero-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        margin: auto;
        position: relative;
    }
    #titulo{
        padding-top: 0px;
        padding-left: 5px;
        width: 60%;
        height: 80px;
        position: absolute;
    }
    #descricao{
        padding-top: 220px;
        padding-left: 5px;
        width: 50%;
        height: 80px;
        position: absolute;
    }
    #ttit{
        color: #FFFFFF;
        font-family: 'Rubik';
        padding-top: 120px;
        padding-left: 25px;
        font-size: 2.60em;
        font-weight: bold;
    }
    #tdesc{
        color: #FFFFFF;
        font-family: 'Rubik';
        padding-top: 10px;
        padding-left: 25px;
        font-size: 1.0em;
        font-weight: normal;
    }
    #linktitulo{
        margin-top: 30px;
        width: 10%;
        padding-left: 15px;
    }
    #botaosobre{
        background: #D842BD 0% 0% no-repeat padding-box;
        background-image: url('../assets/icon-info-circle.svg');
        background-size: 0.6em;
        background-position: 15px;
        color: #ffffff;
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 3px 6px #5538EE29;
        outline: none;
        cursor: pointer;
    }
    #botaologin{
        background: #3633F7 0% 0% no-repeat padding-box;
        background-image: url('../assets/icon-user-alt.svg');
        background-size: 0.6em;
        background-position: 15px;
        color: #ffffff;
        margin-left: 10px;
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 3px 6px #5538EE29;
        outline: none;
        cursor: pointer;
    }
    .botaomenu b{
        margin-left: 10px;
        letter-spacing: 2px;
        font-family: 'Rubik';
        font-size: 0.6em;
    }
    #pesq{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -40px;
        position: relative;
    }
    .barPesquisa{
        background:#FFFFFF;
        border: none;
        border-radius:72px;
        width: 70%;
        position: relative;
        height: 60px;
        border-style: none;
        margin-top: 10px;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    #hashtag{
        background:#FFFFFF;
        font-size: 1.4em;
        opacity: 30%;
        width: 75%;
        position: relative;
        border-style: none;
        font-family: 'Rubik', sans-serif;
        text-align: left;
        margin-top: 20px;
        margin-left: 0px;
        outline: none;
    }
    #botao3{
        image-resolution: url('../assets/icon-search.svg') no-repeat;
        border: none;
        background-size: 1.4em;
        position: relative;
        margin-top: 20px ;  
        margin-left: 40px;
        float: left;
        outline: none;
        cursor: pointer;
    }
    .erro {
        background-color:whitesmoke;
        justify-content: center;
        margin: 30 auto;
        text-align:center;
        position: relative;
        width: 70%;
        height: 350px;
        border-radius: 20px;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    #oerro{
        color: #3634F7;
        font-family: 'Rubik';
        font-size: 2.4em;
        font-weight: normal;
        text-align: center;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    #textoerro{
        color: #292929;
        font-family: 'Rubik';
        padding-right: 5%;
        padding-left: 5%;
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #botaoerro{
        background: #D842BD 0% 0% no-repeat padding-box;
        background-image: url('../assets/icon-home.svg');
        background-size: 1em;
        background-position: 10px;
        padding-left: 10px;
        color: #ffffff;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 3px 6px #5538EE29;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    footer{
        height: 50px;
        background: #D842BD 0% 0% no-repeat padding-box;
        display: flex;   
        align-items: center;
        /* position: absolute; */
        bottom: 0px;
        width: 100%;
        justify-content: center;
        color: #ffffff;
        font-family: 'Rubik';
        font-weight: normal;
        font-size: 0.8em;
    }
}
@media screen and (min-width:1024px){ 
    .bg{
        background-image: url('../assets/hero-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        margin: auto;
        position: relative;
    }
    #titulo{
        padding-top: 0px;
        padding-left: 5px;
        width: 45%;
        height: 80px;
        position: absolute;
    }
    #descricao{
        padding-top: 220px;
        padding-left: 5px;
        width: 35%;
        height: 80px;
        position: absolute;
    }
    .erro {
        background-color:whitesmoke;
        justify-content: center;
        margin: 30 auto;
        text-align:center;
        position: relative;
        width: 50%;
        height: 350px;
        border-radius: 20px;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    #oerro{
        color: #3634F7;
        font-family: 'Rubik';
        font-size: 2.7em;
        font-weight: normal;
        text-align: center;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    #textoerro{
        color: #292929;
        font-family: 'Rubik';
        padding-right: 5%;
        padding-left: 5%;
        font-size: 1.3em;
        font-weight: normal;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
@media screen and (min-width:1280px){ 
    .bg{
        background-image: url('../assets/hero-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        margin: auto;
        position: relative;
    }
    #titulo{
        padding-top: 0px;
        padding-left: 5px;
        width: 35%;
        height: 80px;
        position: absolute;
    }
    #descricao{
        padding-top: 220px;
        padding-left: 5px;
        width: 30%;
        height: 80px;
        position: absolute;
    }
    h1{
        color: #FFFFFF;
        font-family: 'Rubik';
        padding-top: 120px;
        padding-left: 25px;
        font-size: 2.80em;
        font-weight: bold;
    }
    h4{
        color: #FFFFFF;
        font-family: 'Rubik';
        padding-top: 60px;
        padding-left: 25px;
        font-size: 1.2em;
        font-weight: normal;
    }
    .erro {
        background-color:whitesmoke;
        justify-content: center;
        margin: 30 auto;
        text-align:center;
        position: relative;
        width: 50%;
        height: 325px;
        border-radius: 20px;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
    #oerro{
        color: #3634F7;
        font-family: 'Rubik';
        font-size: 2.7em;
        font-weight: normal;
        text-align: center;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    #textoerro{
        color: #292929;
        font-family: 'Rubik';
        padding-right: 5%;
        padding-left: 5%;
        font-size: 1.66em;
        font-weight: normal;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #botaoerro{
        background: #D842BD 0% 0% no-repeat padding-box;
        background-image: url('../assets/icon-home.svg');
        background-size: 1em;
        background-position: 10px;
        padding-left: 10px;
        color: #ffffff;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 3px 6px #5538EE29;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 15px 30px rgba(85, 56, 238, 0.16);
    }
}