/**resetando a pagina**/
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Rubik', sans-serif;}

.clear{
	clear: both;
}

/**estilizando titulo do resultado de busca**/
.chamada{
	max-width: 1280px;
	margin: 82px auto;
}

.chamada h1{
font-weight: bold;
	font-size: 32px;
	color: #3634F7;
	text-align: center;
}

/**estilizando o slider de imagens**/
.sessaoSlider{
	max-width:1686px;
	display: flex;
	margin: 0 auto;
	align-items: center;
}

.flexImg{
	display: flex;
}

.imgUnica{
	width:20%;
	height:287px;
	margin: 0 15px;
  	box-shadow: 0px 9px 27px #5538EE29;
	border-radius:21px;
}

.imgUnica img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

/**estilizando o arrows**/
.circulo{
	background-color: white;
  	width:64px;height:64px;
  	box-shadow: 0 0 10px rgba(138,74,211,0.4);
  	-moz-box-shadow: 0 0 10px  rgba(138,74,211,0.4);
  	-webkit-box-shadow: 0 0 10px rgba(138,74,211,0.4);
  	-o-box-shadow: 0 0 10px rgba(138,74,211,0.4);
  	border-radius:32px;
}

.esquerdo{
position: absolute;
	left: 85px;
	float: left;
}

.direito{
position: absolute;
	right: 85px;
	float: right;
}

.circulo img{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/**estilizando o texto de usuario**/
.texto{
	text-align: left;
	left: 10px;
	position: relative;
	bottom: 80px;

}.texto p{
	color: white;
	padding:2px 4% 2px 0;
}
.texto .nomeUsuario{
font-weight: normal;
	font-size: 17px;
}

.texto .usuarioPost{
	font-weight: bolder;
	font-size: 21px;
}


/**estilizando os bullets do slider**/
.flexBol{
	width: 300px;
	height: 20px;
	display: flex;
	flex-wrap: nowrap;
	margin: 10px auto;
	align-items: center;
	text-align: center;
}

.bol{
	text-align: center;
	margin:0 2px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: #CBCBCB;
}

.bol:nth-of-type(1){
	background-color: #3634F7;
}