/*inicio da parte do Rodrigo*/
/*classe da imagem*/
.divLeft{
	width:49.5%;
	height:250px;	
	top:0;
	left:0;
	opacity: 1;
	position:relative;
	
}
/*com o seletor chamo, faço referencia através do id a minha tag de imagem*/
#photo {
    width: 1920px;
    height: 250px;
}

#spaceText{
	padding-right: 16px;
}

/*classe do texto, posicionando o texto sobre a tela*/
.textDiv{	
	top:130px;
	left:100px;
	width:631px;
	height:98px;
	
	text-align: left;
	color:var(--unnamed-color-ffffff);
	letter-spacing: 0px;
	color: #FFFFFF;
	font: Bold 30px/35px Rubik;
	opacity: 1;
	position: absolute;
}

/*fim da parte do Rodrigo*/

/*inicio da parte do Felipe*/

#sobre{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	margin: 80px auto 80px auto;
	padding: 0px 0px 0px 0px;
}

#descricao{
	width: 500px;
}
#descricao>h2{
	font: Bold 35px/35px Rubik;
	color: #3634f7;
	width: 1920px;
}
#descricao>p{
	font-family: sans-serif;
	line-height: 30px;
	text-align: justify;
}

#imagemSobre{
	margin-top: 50px;
}

#quemSomos{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 1920px;
	margin: 80px auto 80px auto;
}

#quem{
	font: Bold 25px/35px Rubik;
	color: #3634f7;
	width: 1920px;
}
#equipe{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	margin: 80px auto 80px auto;
	padding: 0px 0px 0px 0px;

}

.integrantesDaEquipe{
	box-shadow: 0px 5px 10px  rgb(218, 218, 218);
	border-radius: 10px ;
	width: 250px;
	height: 320px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	
}

.integrantesDaEquipe>img{
	border-radius: 50%;
	position: relative;
	margin: auto;
}

.integrantesDaEquipe>h2{
	position: relative;
	margin-top: 10px;
	font-family: sans-serif;
}