
/* CSS GERAL */
/* background 
---------------*/

body { background-image: url("/imagens/imagens\ hashtag\ finder/login-bg.jpg"); 
    font-family: 'Rubik', sans-serif;
}

/* FIM background */

/*  Logo Hashtagfinder 
----------------------*/

.logo {
    color: white;
    font-size: 16px;
}


h1.logonormal {
    font-weight: normal;
}


/* FIM Loho Hashtagfinder */
/* BUSCA REALIZADA */
h2.logo {
    color: #fff;
    font-size: 23px;
}


.buscarealizada{
    width: 80%;
    height: 50px;
    margin-left: 10%;

}

/* FIM BUSCA REALIZADA*/

/* TABELA BUSCA*/

th, td {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 1px;
}

.tabelabusca{
    width: 80%;
    margin-left: 10%;
    background-color: #FFF;
    line-height: 20px;
    border-radius: 10px;

}

.espacotabela {
width: 100%;    
padding: 0% 0% 2% 0%;
border-radius: 10px;
margin-top: 1%;
}

.espacotabela td{
  font-size: 16px;
  width: 90%;
  background-color: #FFF;
  color: blueviolet;
  line-height: 12%;
  padding: 2% 2%;
  
}

.espacotabela th {
    color: #3633F7;
    background-color: rgba(233, 233, 233, 0.938);
    padding: 15px 35px;
    line-height: 30px;  
}

.hash {
    text-align: left;
    margin-left: 2%; 
}

/* FIM TABELA BUSCA*/

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    
}

#menu ul {
    padding: 0px;
    margin:0px;
    list-style:none; 
    width: 70%;
    text-align: right;
}

#menu ul li {  
    display: inline;
    margin-right: 3%;
    padding: 0%;
    
}

#menu ul li a {
    padding: 6px 10px;
    display: inline-block;
    line-height: 20px;
    /* visual do link */
    
    text-decoration: none;
}



#menu img {
    width: 10px;
    height: 10px;
}

.home {

    text-align: center;
    width: 85px;
    height: 20px;
    border-radius: 50px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-color: #d842bd; 
    
}

.out {
    background-color: #3633F7;
}

/* FIM CSS GERAL */

/* MEDIA QUERY PARA MENOR QUE 600px */

@media screen and (max-width: 450px) {


    #menu ul{
        margin: 5%;
        display: flex;
        align-items: center;
        padding-left: 15%;
    }

    #menu ul li {
        width: 70%;
        padding-left: 10%;
    }

    .logo {
        font-size: 12px;
    }

    .buscarealizada {
        margin-left: 25%;
        font-size: 18px;
    }

    .tabelabusca {
        margin: 0%;
        padding-left: 0%;
        width: 130%;
        height: 100%;
    }

    th{
        padding: 0%;
        margin: 0%;
    }

    .espacotabela {
        margin-left: 1%;
    }

    .espacotabela td {
        line-height: 100%;
        width: 100%;
        padding: 7%;
    }

    
}

/* FIM --MEDIA QUERY PARA MENOR QUE 600px */


