
/* CSS GERAL */
/* background 
---------------*/

body { background-image: url("/imagens/imagens\ hashtag\ finder/login-bg.jpg"); 
    font-family: 'Rubik', sans-serif;
}

/* FIM background */

/*  Logo Hashtagfinder 
----------------------*/

.logo {
    color: white;
    font-size: 16px;
}


h1.logonormal {
    font-weight: normal;
}


/* FIM Loho Hashtagfinder */
/* BUSCA REALIZADA */
h2.logo {
    color: #fff;
    font-size: 23px;
}


.buscarealizada{
    width: 80%;
    height: 50px;
    margin-left: 10%;

}

/* FIM BUSCA REALIZADA*/

/* TABELA BUSCA*/

th, td {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 1px;
}

.tabelabusca{
    width: 80%;
    margin-left: 10%;
    background-color: #FFF;
    line-height: 20px;
    border-radius: 10px;

}

.espacotabela {
padding: 0px 0px 5px 0px;
border-radius: 10px;
margin-top: 10px;
}

.espacotabela td{
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  color: blueviolet;
  line-height: 40px;
  padding: 5px 40px;
  
}

.espacotabela th {
    color: #3633F7;
    background-color: rgba(233, 233, 233, 0.938);
    padding: 15px 35px;
    line-height: 30px;  
}

.radius {
    border-bottom-radius: 10px;
}

/* FIM TABELA BUSCA*/


#menu ul {
    padding:0px;
    margin:0px;
    list-style:none; 
}

#menu ul li {  
    display: inline;
    margin: 3px;
}

#menu ul li a {
    padding: 6px 10px;
    display: inline-block;
    line-height: 20px;
    /* visual do link */
    
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

#menu img {
    width: 10px;
    height: 10px;
}

.home {

    text-align: center;
    width: 88px;
    height: 20px;
    border-radius: 50px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-color: #d842bd; 
    
}

.out {
    background-color: #3633F7;
}

/* FIM CSS GERAL */

/* MEDIA QUERY PARA MENOR QUE 600px */

@media screen and (max-width: 450px) {

    nav {
        padding-left: 2%;
        padding-right: 2%;
    }

    .logonormal {
        font-size: 16px;
    }

    .home {
        width: 10%;
        margin: auto;
    }

    #menu ul li a {
        padding: 2% 3%;
        display: flex;
    }

    .buscarealizada {
        margin-left: 10%;
        font-size: 18px;
    }

    th {
        padding: 0px 0px;
    }

    .espacotabela {
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .tabelabusca div{
        margin: 0px 0px 0px 0px;
        width: 90%;
    }

    
}

/* FIM --MEDIA QUERY PARA MENOR QUE 600px */


